# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Text Files
*.txt
# idea folder
/.idea/
# Python cache folders
/__pycache__/
/scripts/__pycache__/
